@charset "utf-8";

/* common */
:root{
  --color-back-gray: rgb(245, 245, 245);
  --color-back-black: rgb(0, 0, 0);
  --color-link-online-store: rgb(50, 50, 50);
  --color-font: rgb(70, 70, 70);
  --color-items-table: rgb(170, 170, 170);
}
body{
  display :flex;
  flex-flow: column;
  min-height: 100vh;
  font-size: 16px;
  font-family: "Helvetica Neue", "Arial", "Hirino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", "sans-serif";
}
ul{
  list-style: none;
}
a{
  color: var(--color-font);
  text-decoration: none;
}
img{
  max-width: 100%;
}
table{
  /* 隣り合うボーダーラインを１つにまとめる */
  border-collapse: collapse;

  /* 隣接セル間の余白をなくす */
  border-spacing: 0;
}
.err{
  color: red;
}

/* Header */
header{
  border-bottom: 1px solid var(--color-font);
}
header nav{
  padding-bottom: 16px;
}
header .logo{
  width: 120px;
  margin: 32px auto;
}
header .flex-container{
  display: flex;
  justify-content: space-between;
}
header .left-menu{
  width: 70%;
  display: flex;
  justify-content: left;
}
header .right-menu{
  width: 30%;
  display: flex;
  justify-content: right;
}
header li{
  padding: 0 8px;
}

/* Main */
main{
  width: 75%;
  margin: 1rem auto;
}

/* サイズテーブル */
main .table-items{
  width: 100%;
  border: 1px solid var(--color-font);
  margin: 32px auto;
}

main .table-items th, main .table-items td{
  border: 1px solid var(--color-back-black);
  text-align: center;
  padding: 12px 0;  
}

main .table-items th{
  background: var(--color-items-table);
}
main .table-items td:first-child{
  background:lightgray;
}
main .table-items td:last-child{
  width: 30%;
  padding: 1rem;
}
main .table-items td:last-child img{
  width: 50%;
  height: 100px;
  object-fit: cover;
}

main .btn{
  color: var(--color-font);
  border-radius: 15px;
  max-width: 40%;
  display: inline-block;
  padding: 0.25rem 1rem;
  font-weight: bold;
}
main .btn-add{
  background: rgb(120, 120, 220);
  border: 2px solid blue;
  transition: background 0.3s;
  max-width: 50%;
  cursor: pointer;
}
main .btn-add:hover{
  background: rgb(120, 200, 255);
  transition: background 0.3s;
}
main .btn-upd{
  background: rgb(120, 220, 120);
  border: 2px solid green;
  transition: background 0.3s;
}
main .btn-upd:hover{
  background: rgb(200, 255, 120);
  transition: background 0.3s;
}
main .btn-del{
  background: rgb(255, 150, 150);
  border: 2px solid red;
  transition: background 0.3s;
  cursor: pointer;
}
main .btn-del:hover{
  background: rgb(255, 200, 150);
  transition: background 0.3s;
}
main .items{
  width: 25%;
}

main .flg-true{
  color: red;
  font-size: 1.25rem;
  font-weight: bold;
}
main .flg-false{
  color: blue;
  font-size: 2rem;
}

.pagenation{
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  width: 8rem;
  min-width: 20%;
}
.pagenation li{
  padding: 1rem;
}
.pagenation a{
  transition: opacity 0.5s;
}
.pagenation a:hover{
  opacity: 0.6;
  transition: opacity 0.5s;
}

#mask{
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
#modal{
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 2;
}
#modal p{
  margin: 0 0 20px;
}
#mask.hidden{
  display: none;
}
#modal.hidden{
  transform: translate(0, -500px);
}

/* Footer */
footer{
  text-align: center;
  padding: 12px 0;
}

@media screen and (max-width: 896px){

  header{
    width: 90%;
    margin: 0 auto;
  }

  /* はみ出た部分はスクロールで表示出来るようにする */
  header nav{
    overflow-x: scroll;
  }
  main .flex-container{
    flex-direction: column;
  }
  main .item-image{
    width: 90%;
    margin: 0 auto;
  }
  main .item-description{
    width: 90%;
    margin: 0 auto;
  }
}