<header class="wrapper">
  <div class="flex-container">
    <h1 class="logo">
      <a href="/">
        <img src="/images/logo.svg" alt="ロゴ">
      </a>
    </h1>
    <div id="menu"></div>
  </div>
</header>