<div class="overlay">
  <div class="wrapper flex-container">
    <nav>
      <ul>
        <li><a href="/products">Products</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/company">Company</a></li>
        <li>Contact</li>
      </ul>
    </nav>
    <div id="close"></div>
  </div>
</div>