<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
  <!-- Header -->
  <%- include('../partials/header'); %>
  <!-- Header -->

  <!-- Overlay -->
  <%- include('../partials/overlay'); %>
  <!-- Overlay -->

  <!-- Main -->
  <main class="wrapper">
    <p class="page-title">About</p>
    <div class="about">
      <div class="description">
        <p>
          テキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキスト
        </p>
      </div>
      <div class="description">
        <p>
          テキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキスト
          テキストテキストテキストテキストテキストテキストテキスト
        </p>
      </div>
    </div>
  </main>
  <!-- Main -->

  <!-- Footer -->
  <%- include('../partials/footer'); %>
  <!-- Footer -->

  <!-- JavaScript -->
  <script src="/javascripts/common.js"></script>
  <!-- JavaScript -->
</body>
</html>