<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/company.css">
</head>
<body>
  <!-- Header -->
  <%- include('../partials/header'); %>
  <!-- Header -->

  <!-- Overlay -->
  <%- include('../partials/overlay'); %>
  <!-- Overlay -->

  <!-- Main -->
  <main class="wrapper">
    <p class="page-title">Company</p>
    <div class="company">
      <div class="info">
        <dl>
          <dt>社名</dt>
          <dd>株式会社リコーダー</dd>
          <dt>住所</dt>
          <dd>福岡市内の警固公園</dd>
          <dt>設立</dt>
          <dd>2022年の最近</dd>
          <dt>資本金</dt>
          <dd>投げ銭1000円</dd>
          <dt>従業員数</dt>
          <dd>1人</dd>
          <dt>事業内容</dt>
          <dd>
            <p>リコーダー演奏ライブ配信</p>
            <p>リコーダーステージ演奏</p>
            <p>リコーダーのメンテナンス・販売</p>
          </dd>
        </dl>
      </div>
      <div id="map">
        <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.6538850527904!2d130.39704441442237!3d33.58833474948285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541918d92640001%3A0xa6be043af574bf0b!2z6K2m5Zu65YWs5ZyS!5e0!3m2!1sja!2sjp!4v1654741289122!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </main>
  <!-- Main -->

  <!-- Footer -->
  <%- include('../partials/footer'); %>
  <!-- Footer -->

  <!-- JavaScript -->
  <script src="/javascripts/common.js"></script>
  <!-- JavaScript -->
</body>
</html>